* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card-wraper{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.Dark-ligth{
    margin-top: 80px;
    margin-left: 1000px;
}
.Dark-ligth button{
    border: none;
    border-radius:20px;
    padding: 15px;
    font-size: 1.1rem;
    background-color: lightcyan;
}

.card-one {
    width: 400px;
    border: solid green;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 100px;
    color:royalblue;
    transition: all 0.5s;
}
.card-one:hover {
    transform: scale(1.05);
  }
  
  .card-one:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }

.border-radius {
    display: flex;
    justify-content: center;
}

.icon-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.text-content h1 {
    font-size: 1.8rem;
    font-family: sans-serif;
    text-align: center;
    color:royalblue;
}
.text-content p{
    text-align: center;
    font-family: sans-serif;
    color:royalblue;

}

.danger-btn{
 background-color:royalblue;
 color: white;
 border: none;
 border-radius: 10px;
 padding: 10px 100px ;

}
.danger-btn:hover{
    background-color:royalblue;
    border: 1.5px solid darkblue;
}

.delete-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:15px ;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fffccc;
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto;
  }
  
  .title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: royalblue;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: green;
  }
  
  .submit {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .submit:hover {
    background-color: rgb(56, 90, 194);
  }

  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  } 

  